<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<h1>{{ name }}</h1>
<table repeat="1" style="height: 385px; border-color: black; text-align: center" border="1" width="664">
    <tbody>
    <tr style="height: 50px;">
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Номер полиці</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Номер товару</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Назва товару</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Артикул</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Баркод</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Порядок викладки</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>К-сть фейсів</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Глибина викладки</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Висота викладки</strong></td>
    </tr>
    <tr style="height: 50px;">
        <th style="width: 50px; height: 48px;" rowspan="7">{table.col_number}</th>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">Big Bob арахіс сіль 30г</td>
        <td style="width: 66px; height: 50px;">28239</td>
        <td style="width: 66px; height: 50px;">4820182060403,4820182060670</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">2</td>
        <td style="width: 66px; height: 50px;">Semki Жарені 50г</td>
        <td style="width: 66px; height: 50px;">27288</td>
        <td style="width: 66px; height: 50px;">4820078774094</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">3</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">3</td>
        <td style="width: 66px; height: 50px;">Chio Чіпси сметана та цибуля150г</td>
        <td style="width: 66px; height: 50px;">71321</td>
        <td style="width: 66px; height: 50px;">5997312700917</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">Big Bob арахіс васабі 30г</td>
        <td style="width: 66px; height: 50px;">76536</td>
        <td style="width: 66px; height: 50px;">4820182060915</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">25</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">5</td>
        <td style="width: 66px; height: 50px;">Semki Ядро Соняшика 30г</td>
        <td style="width: 66px; height: 50px;">23849</td>
        <td style="width: 66px; height: 50px;">4820078773844</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">6</td>
        <td style="width: 66px; height: 50px;">Big Bob фісташка 50 г</td>
        <td style="width: 66px; height: 50px;">73006</td>
        <td style="width: 66px; height: 50px;">4820182060526,4820182061424</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">18</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">7</td>
        <td style="width: 66px; height: 50px;">Semki Насіння гарбуза з сіллю 50г</td>
        <td style="width: 66px; height: 50px;">14859</td>
        <td style="width: 66px; height: 50px;">4820078776142</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">2</td>
        <td style="width: 66px; height: 50px;">7</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Номер полиці</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Номер товару</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Назва товару</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Артикул</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Баркод</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Порядок викладки</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>К-сть фейсів</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Глибина викладки</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Висота викладки</strong></td>
    </tr>
    <tr style="height: 50px;">
        <th style="width: 50px; height: 48px;" rowspan="7">{table.col_number}</th>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">Semki Насіння гарбуза з сіллю 50г</td>
        <td style="width: 66px; height: 50px;">14859</td>
        <td style="width: 66px; height: 50px;">4820078776142</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">2</td>
        <td style="width: 66px; height: 50px;">7</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">2</td>
        <td style="width: 66px; height: 50px;">Чіпси Люкс Сметана Цибуля 25г</td>
        <td style="width: 66px; height: 50px;">25681</td>
        <td style="width: 66px; height: 50px;">7622300085681</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">9</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">3</td>
        <td style="width: 66px; height: 50px;">Semki Ядро Соняшника з сіллю 30г</td>
        <td style="width: 66px; height: 50px;">14844</td>
        <td style="width: 66px; height: 50px;">4820078773868</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">3</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">Semki Солені 50г</td>
        <td style="width: 66px; height: 50px;">14838</td>
        <td style="width: 66px; height: 50px;">4820078776111</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">20</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">5</td>
        <td style="width: 66px; height: 50px;">Чіпси Люкс Бекон 25г</td>
        <td style="width: 66px; height: 50px;">25680</td>
        <td style="width: 66px; height: 50px;">4823001401807</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">13</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">6</td>
        <td style="width: 66px; height: 50px;">Чіпси Люкс Сметана Цибуля 71г</td>
        <td style="width: 66px; height: 50px;">25677</td>
        <td style="width: 66px; height: 50px;">7622210176158</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">8</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">7</td>
        <td style="width: 66px; height: 50px;">Чіпси Люкс Сир 133г</td>
        <td style="width: 66px; height: 50px;">25675</td>
        <td style="width: 66px; height: 50px;">7622210176172</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">2</td>
        <td style="width: 66px; height: 50px;">9</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Номер полиці</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Номер товару</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Назва товару</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Артикул</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Баркод</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Порядок викладки</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>К-сть фейсів</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Глибина викладки</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Висота викладки</strong></td>
    </tr>
    <tr style="height: 50px;">
        <th style="width: 50px; height: 48px;" rowspan="5">{table.col_number}</th>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">Чіпси Люкс Сир 133г</td>
        <td style="width: 66px; height: 50px;">25675</td>
        <td style="width: 66px; height: 50px;">7622210176172</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">3</td>
        <td style="width: 66px; height: 50px;">9</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">2</td>
        <td style="width: 66px; height: 50px;">Чіпси Люкс Краб 133г</td>
        <td style="width: 66px; height: 50px;">26546</td>
        <td style="width: 66px; height: 50px;">7622210177261</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">9</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">3</td>
        <td style="width: 66px; height: 50px;">Чіпси Люкс Бекон 133г</td>
        <td style="width: 66px; height: 50px;">25673</td>
        <td style="width: 66px; height: 50px;">7622210176196</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">5</td>
        <td style="width: 66px; height: 50px;">7</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">Чіпси Lays Max зі смаком сиру та цибулі 120g</td>
        <td style="width: 66px; height: 50px;">64135</td>
        <td style="width: 66px; height: 50px;">5900259068736,5900259079954</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">7</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">5</td>
        <td style="width: 66px; height: 50px;">Чіпси Lays Рифлені Лобстер 133г</td>
        <td style="width: 66px; height: 50px;">81159</td>
        <td style="width: 66px; height: 50px;">5900259089519</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">5</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Номер полиці</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Номер товару</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Назва товару</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Артикул</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Баркод</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Порядок викладки</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>К-сть фейсів</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Глибина викладки</strong></td>
        <td class="td-head" style="width: 74px; height: 50px;"><strong>Висота викладки</strong></td>
    </tr>
    <tr style="height: 50px;">
        <th style="width: 50px; height: 48px;" rowspan="5">{table.col_number}</th>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">Чіпси Lays Рифлені Лобстер 133г</td>
        <td style="width: 66px; height: 50px;">81159</td>
        <td style="width: 66px; height: 50px;">5900259089519</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">3</td>
        <td style="width: 66px; height: 50px;">5</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">2</td>
        <td style="width: 66px; height: 50px;">Чіпси Lays Рифлені Сметана та зелень 133г</td>
        <td style="width: 66px; height: 50px;">81160</td>
        <td style="width: 66px; height: 50px;">5900259089533</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">5</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">3</td>
        <td style="width: 66px; height: 50px;">Чіпси Lays STRONG Гострий Чілі 120г</td>
        <td style="width: 66px; height: 50px;">66208</td>
        <td style="width: 66px; height: 50px;">5900259073822</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">2</td>
        <td style="width: 66px; height: 50px;">10</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>
    <tr style="height: 48px;">
        <td style="width: 66px; height: 50px;">4</td>
        <td style="width: 66px; height: 50px;">Чіпси Lays STRONG Гострий Чілі 120г</td>
        <td style="width: 66px; height: 50px;">66208</td>
        <td style="width: 66px; height: 50px;">5900259073822</td>
        <td style="width: 66px; height: 50px;">1</td>
        <td style="width: 66px; height: 50px;">3</td>
        <td style="width: 66px; height: 50px;">10</td>
        <td style="width: 66px; height: 50px;">1</td>
    </tr>

    </tbody>
</table>
